{
  "distSpecVersion": "1.1.0",
  "storage": {
    "rootDirectory": "/var/lib/registry",
    "dedupe": true,
    "gc": true,
    "gcInterval": "1h"
  },
  "http": {
    "address": "0.0.0.0",
    "port": "5000",
    "compat": ["docker2s2"],
    "auth": {
      "htpasswd": {
        "path": "/etc/zot/htpasswd"
      },
      "failDelay": 5
    },
    "accessControl": {
      "repositories": {
        "**": {
          "policies": [
            {
              "users": ["ci"],
              "actions": ["read", "create", "update", "delete"]
            },
            {
              "users": ["cluster"],
              "actions": ["read"]
            }
          ],
          "defaultPolicy": [],
          "anonymousPolicy": []
        }
      }
    }
  },
  "log": {
    "level": "info"
  },
  "extensions": {
    "search": {
      "enable": true,
      "cve": {
        "updateInterval": "24h"
      }
    },
    "ui": {
      "enable": true
    },
    "mgmt": {
      "enable": true
    },
    "userprefs": {
      "enable": true
    },
    "scrub": {
      "enable": true,
      "interval": "24h"
    },
    "metrics": {
      "enable": true,
      "prometheus": {
        "path": "/metrics"
      }
    }
  }
}
