{
  "distSpecVersion": "1.1.0",
  "storage": {
    "rootDirectory": "/var/lib/registry",
    "dedupe": true,
    "gc": true,
    "gcInterval": "1h"
  },
  "http": {
    "address": "0.0.0.0",
    "port": "5000",
    "externalUrl": "https://registry.platform.fmd.fagorhealthcare.com",
    "compat": ["docker2s2"],
    "auth": {
      "failDelay": 5,
      "apikey": true,
      "openid": {
        "providers": {
          "oidc": {
            "name": "FMD Dex",
            "issuer": "https://dex.platform.fmd.fagorhealthcare.com",
            "clientid": "zot",
            "clientsecret": "$DEX_ZOT_CLIENT_SECRET",
            "scopes": ["openid", "email", "groups"]
          }
        }
      }
    },
    "accessControl": {
      "repositories": {
        "**": {
          "policies": [],
          "defaultPolicy": ["read", "create", "update", "delete"],
          "anonymousPolicy": []
        }
      }
    }
  },
  "log": {
    "level": "info"
  },
  "extensions": {
    "search": {
      "enable": true,
      "cve": {
        "updateInterval": "24h"
      }
    },
    "ui": {
      "enable": true
    },
    "mgmt": {
      "enable": true
    },
    "scrub": {
      "enable": true,
      "interval": "24h"
    },
    "metrics": {
      "enable": true,
      "prometheus": {
        "path": "/metrics"
      }
    }
  }
}
